
@font-face {
    font-family: 'CustomFont';
    src: url('font/digital-7.ttf') format('truetype'),
         url('fonts/pixel-game.regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    overflow: hidden;
}


#video-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}


h1, h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Andale Mono', monospace;
    color: white;
    white-space: nowrap;
    z-index: 2;
}

h1 {
    top: 10%;
    font-size: 1.1rem;
    margin-bottom: 4px;
}

h2 {
    top: 15%;
    font-size: 0.9rem;
}

#new-text {
    font-family: 'CustomFont', sans-serif !important;
    font-size: 4rem;
    margin-bottom: 15px;
    color: rgb(255, 0, 0);
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.3s ease-in-out; 

  
    text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.8), 
                 0px 0px 20px rgba(255, 0, 0, 0.6),
                 0px 0px 30px rgba(255, 0, 0, 0.4);
    
    text-decoration: none;
    display: inline-block;
    cursor: pointer; 
}


#new-text:hover {
    color: white;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    transform: translate(-50%, -50%) scale(1.05); 
}

.fade-out {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}


.fade-in {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out;
}


#new-text:hover,
#new-text.hover-effect { 
    color: white;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    transform: translate(-50%, -50%) scale(1.05);
}



@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    #new-text {
        font-size: 10rem;
    }
}


@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3.5rem;
        
    }

    h2 {
        font-size: 2rem;
        top: 18%;
    }

    #new-text {
        font-size: 12rem;
    }
}
